<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
  </head>
  <body>
    <!-- navigation bar -->
    <%- include('./partials/nav') %>

    <h1>Full Menu</h1>
    <!-- filter different categories into lists -->
    <% const mains = menu.filter(value => value.category === "mains") %>
    <% const desserts = menu.filter(value => value.category === "desserts") %>
    <% const sides = menu.filter(value => value.category === "sides") %>
    <!-- display menu items according to category -->
     
    <h2>Mains</h2>
    <ul>
      <% mains.forEach(item => { %>
         
            <% let star = ""; %>
            <% if (item.rating === 5) { star = "⭐"} %>
            <li>
              <%= star %> <%=item.name %> - $<%= item.price %> (Rating: <%= item.rating %>/5)
              <p><%= item.details %></p>
            </li>
      
      <% }); %>
    </ul>

    <h2>Desserts</h2>
    <ul>
      <% desserts.forEach(item => { %>
        <% let star = ""; %>
        <% if (item.rating === 5) { star = "⭐"} %>
          <li>
            <%= star %><%= item.name %> - $<%= item.price %> (Rating: <%= item.rating %>/5)
            <p><%= item.details %></p>
          </li>
      <% }); %>
    </ul>

    <h2>Sides</h2>
    <ul>
      <% sides.forEach(item => { %>
        <% let star = ""; %>
        <% if (item.rating === 5) { star = "⭐"} %>
          <li>
            <%= star %><%= item.name %> - $<%= item.price %> (Rating: <%= item.rating %>/5)
            <p><%= item.details %></p>
          </li>
      <% }); %>
    </ul>

  </body>
</html>
